:root {
  --box-padding: 2em;
  --box-border-radius: 1.75em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  //max-width: fit-content;
  min-height: 100%;

  padding: var(--box-padding);

  border: 3px solid black;
  border-radius: var(--box-border-radius);

  //aspect-ratio: 1;

  &--editable {
    border-style: dotted;
  }
}

.content {
  --underline-width: 2px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  max-height: 2em;

  font-weight: bold;

  width: 100%;
  //min-height: 100%;

  border-bottom: var(--underline-width) solid transparent;

  margin-top: calc(var(--underline-width));

  &:focus {
    outline: none;

    border-bottom: 2px solid black;
  }
}
